<div class="row mkt">
    <div class="col-sm-4 mkt__block mkt__block--overlay">
        <a href="{{ block3Link }}">
            <div class="text-center mkt__content block" style="background-image: url(
                {{ theme.block3Image.thumbnail('auto', 'auto') }}
            );">
            </div>
            <h4>
                {{ theme.block3Text1 }}
            </h4>
            <p class="text-muted">
                {{ theme.block3Text2 }}
            </p>
        </a>
    </div>

    <div class="col-sm-4 mkt__block mkt__block--overlay">
        <a href="{{ block4Link }}">
            <div class="text-center mkt__content block" style="background-image: url(
                {{ theme.block4Image.thumbnail('auto', 'auto') }}
            );">
            </div>
            <h4>
                {{ theme.block4Text1 }}
            </h4>
            <p class="text-muted">
                {{ theme.block4Text2 }}
            </p>
        </a>
    </div>

    <div class="col-sm-4 mkt__block mkt__block--overlay">
        <a href="{{ block5Link }}">
            <div class="text-center mkt__content block" style="background-image: url(
                {{ theme.block5Image.thumbnail('auto', 'auto') }}
            );">
            </div>
            <h4>
                {{ theme.block5Text1 }}
            </h4>
            <p class="text-muted">
                {{ theme.block5Text2 }}
            </p>
        </a>
    </div>
</div>