<div class="row mkt">
    <div class="col-sm-6 mkt__block mkt__block--overlay">
        <a href="{{ theme.block1Link }}">
            <div class="mkt__content text-center block" style="background-image: url(
                {{ theme.block1Image.thumbnail('auto', 'auto') }}
            );">
                <h3 class="text-white">
                    {{ theme.block1Text1 }}
                </h3>
                <p class="text-white text-caps">
                    {{ theme.block1Text2 }}
                </p>
            </div>
        </a>
    </div>

    <div class="col-sm-6 mkt__block mkt__block--overlay">
        <a href="{{ theme.block2Link }}">
            <div class="mkt__content text-center block" style="background-image: url(
                {{ theme.block2Image.thumbnail('auto', 'auto') }}
            );">
                <h3 class="text-white">
                    {{ theme.block2Text1 }}
                </h3>
                <p class="text-white text-caps">
                    {{ theme.block2Text2 }}
                </p>
            </div>
        </a>
    </div>
</div>