<div class="row mkt">
    <div class="col-sm-4 mkt__block">
        <a href="#">
            <figure class="mkt__img">
                <img src="https://farm5.staticflickr.com/4051/4297705996_ba97ba018f_z.jpg" />
            </figure>
            <div class="text-center mkt__content">
                <h4>This is content for this block.</h4>
                <p class="text-muted">Ac posuere sagittis aenean justo curabitur condimentum platea a praesent per.</p>
            </div>
        </a>
    </div>

    <div class="col-sm-4 mkt__block">
        <a href="#">
            <figure class="mkt__img">
                <img src="https://farm8.staticflickr.com/7013/6527816421_55977c2f6f_z.jpg" />
            </figure>
            <div class="text-center mkt__content">
                <h4>This is content for this block.</h4>
                <p class="text-muted">Ac posuere sagittis aenean justo curabitur condimentum platea a praesent per.</p>
            </div>
        </a>
    </div>

    <div class="col-sm-4 mkt__block">
        <a href="#">
            <figure class="mkt__img">
                <img src="https://farm3.staticflickr.com/2795/4248042200_04699a4b98_z.jpg" />
            </figure>
            <div class="text-center mkt__content">
                <h4>This is content for this block.</h4>
                <p class="text-muted">Ac posuere sagittis aenean justo curabitur condimentum platea a praesent per.</p>
            </div>
        </a>
    </div>
</div>