{{ code_block('setup') }}

<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>

<title>{% if theme.logoText %}{{ theme.logoText }} &middot; {% endif %}{{ page.title }}</title>

<link rel="stylesheet" type="text/css" href="/cms/core.css">
<link rel="stylesheet" type="text/css" href="{{ 'styles/main.css'|theme_resource }}">
<link rel="stylesheet" type="text/css" href="{{ 'styles/custom.css'|theme_resource }}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
{% if theme.topbarColor %}
.siteheader {
    background: {{ theme.topbarColor }};
}
{% endif %}
{% if theme.footerColor %}
.sitefooter {
    background: {{ theme.footerColor }};
}
{% endif %}
</style>

<script type="text/javascript" src="{{ 'scripts/vendor/modernizr.js'|theme_resource }}"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript">
WebFontConfig = {
    google: {
        families: ['Libre+Baskerville:400,700,400italic:latin', 'Roboto:400,700:latin']
    }
};
(function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
})();
$(function() {
    $(".custom-footer-menu ul").not("list-simple").addClass("list-simple");
    $("#global-nav ul").not(".sitenav").children().appendTo("ul.sitenav");
    /*//
                        // Star rating
                        //
                        $('.rating > span').click(function() {
                            var currentId = $(this).attr('id');
                            if ( currentId === 'hate' ) {
                                $('#hate').addClass('select');
                                $( '#dont-like, #ok, #like, #love' ).removeClass('select');
                                $('.rating > p').text( 'I hate it' );
                                $("#item_rating").val('1');
                            }
                            if ( currentId === 'dont-like' ) {
                                $( '#hate, #dont-like' ).addClass('select');
                                $( '#ok, #like, #love' ).removeClass('select');
                                $('.rating > p').text( 'I don\'t like it' );
                                $("#item_rating").val('2');
                            }
                            if ( currentId === 'ok' ) {
                                $( '#hate, #dont-like, #ok' ).addClass('select');
                                $( '#like, #love' ).removeClass('select');
                                $('.rating > p').text( 'It\'s ok' );
                                $("#item_rating").val('3');
                            }
                            if ( currentId === 'like' ) {
                                $( '#hate, #dont-like, #ok, #like' ).addClass('select');
                                $( '#love' ).removeClass('select');
                                $('.rating > p').text( 'I like it' );
                                $("#item_rating").val('4');
                            }
                            if ( currentId === 'love' ) {
                                $( '#hate, #dont-like, #ok, #like, #love' ).addClass('select');
                                $('.rating > p').text( 'I love it' );
                                $("#item_rating").val('5');
                            }
                            console.log($('#item_rating').val());
                        });*/
});
</script>
