{% set on_sale = product.onSale %}
<div class="row">

    <div class="col-xs-12 col-sm-6 item-images">
        <figure class="thumb thumb--lg big-image">
            <img src="{{ product.images.first.thumbnail(746, 'auto')|default('http://placehold.it/460x300') }}" alt="{{ product.name }}" id="product-image" />
        </figure>

        <div class="product-social-buttons"><!--
            {% if theme.socialToggle %}
                              <div class="social">
                                <div id="sharrre">
                                    <div class="facebook"></div>
                                    <div class="twitter"><button class="btn btn-mini btn-twitter"><i class="icon-twitter"></i> &nbsp; {total}</button></div>
                                    <div class="googleplus"></div>
                                    <div class="pinterest"></div>
                                </div>
                            </div>
                            {% endif %}-->
        </div>

        {% if product.images.count > 1 %}
        <h5>Additional Views</h5>
        <ul class="thumblist js-thumblist" data-target="#product-image">
            {% for image in product.images %}
            <li>
                <a href="{{ image.thumbnail(746, 'auto') }}">
                    <img src="{{ image.thumbnail(367, 367) }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">

        <div class="short-description">
            <h1 class="PRD__name">{{ product.name }}</h1>
            <p class="h3 PRD__price">
                {% if on_sale %}
                <span class="price oldprice">was {{ product.fullPrice|currency }}</span>
                <span class="price curprice">now {{ product.price|currency }}</span>
                {% else %}
                <span class="price">{{ product.price|currency }}</span>
                {% endif %}
            </p>
        </div>

        <div class="PRD__options">
        <!--
            {{ partial('shop-product-review') }}-->
            <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
            <hr>
            {{ partial('shop-product-tiers')}}
            <hr>
            {{ partial('shop-product-attributes') }}
            <hr>
            {{ partial('shop-product-options') }}
            <hr>
            {{ partial('shop-product-extras') }}
            <hr>
        
    {% if product.enabled %}
        {% if not product.isOutOfStock() %}
            {{ flash() }}
            <div class="form-group">
                <label class="title" for="customDropdown">Quantity</label>
                <input type="text" size="1" value="{{ quantity|default("1") }}" name="quantity" class="form-control input-sm" />
            </div>

            <div class="stock-level">{{ product.in_stock_amount }} available</div>

            <div class="form-group add-to-cart-block">
                <input type="hidden" name="productId" value="{{ product.id }}" />
                <a class="btn btn-dark js-addtocart" href="#">Add to Cart</a>
            </div>

        {% else %}
            <div class="not-available">
                <p>This product is temporarily unavailable.</p>
            </div>
        {% endif %}
    {% else %}
            <div class="not-available">
                <p>This product is not available.</p>
            </div>
    {% endif %}
        </div>

        {% if product.description %}
        <div class="row PRD__description">
            <div class="col-sm-12">
                <h5>Description</h5>
                {{ product.description|unescape }}
            </div>
        </div>
         {% endif %}
    </div>

</div>