{% if cart %}
    <div class="row buffer-bottom">
        <div class="col-sm-12" id="cart-content">
            {{ partial('shop-cart-items') }}
        </div>
    </div>
    
    <div class="col-md-4 pull-right">
        {{ partial('shop-checkout-totals') }}
    </div>
    <div class="col-md-8">
        {% if order.payment_processed %}
        <div class="col-sm-6">
            <p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
        </div>
        {% else %}

        <div>

            <!--  Pay with stored cards shown in dropdown -->
                {% if cards is defined %}
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title">Pay with a Saved Card</h3>
                        </div>

                        <div class="panel-body row">
                            <div class="col-sm-3">
                                <form class="custom saved-card-form" method="post" data-ajax-handler="shop:onPay">
                                    <input type='hidden' name='payment_method_id' id='payment_method_id' value=''>
                                    <select name="payment_method_token" class="md-select saved-card-selector" id="saved_card_option" style="margin-bottom: 15px;">
                                        <option value=''>Select Saved Card</option>
                                        {% for card in cards %}
                                            <option id="token-{{ card.token }}" value="{{ card.token }}" card-method="{{ card.paymentMethod.id }}">{{ card.paymentMethod.name }}: {{ card.cardAndBrand }}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <input type="submit" class="btn btn-primary" value="Pay with Saved Card">
                                </form>
                            </div>
                        </div>

                    </div>
                {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Choose a payment method.</h3>
                </div>                

                <div class="panel-body row">
                    <div class="col-sm-3">

                        <!-- The payment method radio button clicks are handled in the main.js -->
                        {{ open_form({'class': 'custom mb1', 'id': 'payment_method'}) }} 
                        {% for method in paymentMethods %}

                            <label class="radio-inline" for="payment-method{{ method.id }}">
                                <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" />
                                <span class="choice-title">
                                    {{ method.name }}
                                </span>
                            </label>
                        {% endfor %}
                        </form>

                    </div>

                    <div class="col-sm-9" id="payment_form">{{ partial('shop-paymentform') }}</div>

                </div>
            </div>

        </div>
    
        {% endif %}
    </div>

 {% else %}
    <div class="row buffer-bottom">
        <div class="col-sm-12">
            <p class="flash error">Order not found.</p>
        </div>
    </div>
{% endif %}