{% if paymentMethod is defined %}
    {% if paymentMethod.isLegacy() %}
        <p>
            This payment method type is no longer supported. Create a standard or custom method.
        </p>
    {% elseif paymentMethod.isStandard() %}
        {% if hasFeature('saved-cards') %}
            {% set saved_card_enabled = true %}
        {% else %}
            {% set saved_card_enabled = false %}
        {% endif %}
        {{ paymentForm({
                options: {
                    number: {
                        label: ' ',
                        placeholder: 'Card Number',
                        style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: 300; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                    },
                    cvv: {
                        label: ' ',
                        placeholder: 'CVV',
                        style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: 300; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                    },
                    full_name: {
                        label: ' ',
                        placeholder: 'Cardholder name',
                    },
                    expiry: {
                        label: ' ',
                        placeholder: 'MM/YYYY',
                    },
                    submit: {
                        label: ' ',
                        value: 'Pay Now'
                    },
                    save_card: {
                        label: ' ',
                        label: 'Save Card',
                        enabled: saved_card_enabled
                    }
                }
            },
            paymentMethod
        ) }}
    {% elseif paymentMethod.isCustom() %}
        {% set name = paymentMethod.getFrontendPartialName() %}
        {{ partial(name, {paymentMethod: paymentMethod, payment: payment}) }}
    {% endif %}
{% else %}
    <p>
        <a class="btn btn-dark" href="{{ site_url('shop') }}">Continue shopping</a>
    </p>
{% endif %}