{{ open_form({'data-ajax-handler': 'shop:onChangePassword', 'class': 'form-horizontal custom', 'data-ajax-update': '#profile-changepassword=shop-changepassword', 'data-validation-message' : ''}) }}

{{ flash() }}

    <div class="form-group">
        <label for="oldPassword" class="col-sm-3 control-label">Old password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control input-sm" id="oldPassword" name="oldPassword" size="24" />
            <span class="error small text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">New password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control input-sm" id="password" name="password" size="24" />
            <span class="error small text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="passwordConfirm" class="col-sm-3 control-label">Confirm password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control input-sm" id="passwordConfirm" name="passwordConfirm" size="24" />
            <span class="error small text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-sm btn-dark">Save</button>
        </div>
    </div>

    <input type="hidden" name="flash" value="Your password has been successfully changed."/>
    <input type="hidden" name="redirect" value="{{ root_url('/profile') }}"/>
    
</form>