---
name: shop-passwordrestorerequest
---
{{ flash() }}
{% if invalidHash %}
    <p class="bg-danger">Invalid or expired link.</p>
{% endif %}

	<div class="col-sm-offset-3 col-sm-6">
		<p class="text-mid mb1">Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>	

		<input type="hidden" name="requestPasswordRestore" value="1">
		<input type="hidden" name="successMessage" value="Password restore email was sent."/>

		<div class="form-group">
		    <label for="email">Email address</label>
		    <input type="email" class="form-control" name="email" id="email" placeholder="" size="40" autofocus />
		    <span class="error small text-danger"></span>
		</div>

		<div class="form-group">
		    <button type="submit" class="btn btn-dark" name="passwordRestoreSubmit">Submit</button>
		</div>
	</div>