{% if cart %}
    <div class="row buffer-bottom">
        <div class="col-sm-12" id="cart-content">
            {{ partial('shop-cart-items') }}
        </div>
    </div>

    <div class="row">
        {% if order.payment_processed %}
        <div class="col-sm-6">
            <p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
        </div>
        {% else %}

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Choose a payment method.</h3>
                </div>                

                <div class="panel-body row">
                    <div class="col-sm-3">

                        <!-- The payment method radio button clicks are handled in the main.js -->
                        {{ open_form({'class': 'custom mb1', 'id': 'payment_method'}) }} 
                        {% for method in paymentMethods %}
                            {% for method in paymentMethods %}

                            <label class="radio-inline" for="payment-method{{ method.id }}">
                                <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" />
                                <span class="choice-title">
                                    {{ method.name }}
                                </span>
                            </label>

                            {% endfor %}
                        {% endfor %}
                        </form>

                    </div>

                    <div class="col-sm-9" id="payment_form">{{ partial('shop-paymentform') }}</div>

                </div>
            </div>

        </div>
    
        {% endif %}
    </div>

 {% else %}
    <div class="row buffer-bottom">
        <div class="col-sm-12">
            <p class="flash error">Order not found.</p>
        </div>
    </div>
{% endif %}